---
layout: default
---

<article>

	<div class="center">
		<h1 class="title">{{ page.title }}</h1>
		{% capture post_tags %}{{ page.tags | join: ", " }}{% endcapture %}
		{% if post_tags == '' %}
			{% assign post_tags = 'entrada' %}
		{% endif %}
		<div class="code post-tags">{{ post_tags }}</div>
		<time class="code post-meta">
			{% if page.next.url %}
				<a class="post-nav prev" href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}" title="NEXT: {{page.next.title}}">&lt;&lt;</a>
			{% else %}
				<span class="post-nav prev placeholder">&nbsp;</span>
			{% endif %}

			{% if page.next.url %}
				<span class="post-sep">&middot;</span>
			{% else %}
				<span class="post-sep spacer">&nbsp;</span>
			{% endif %}

			<span class="post-date">{{ page.date | date: '%B %-d, %Y' }}</span>

			{% if page.previous.url %}
				<span class="post-sep">&middot;</span>
			{% else %}
				<span class="post-sep spacer">&nbsp;</span>
			{% endif %}

			{% if page.previous.url %}
				<a class="post-nav next" href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}" title="PREV: {{page.previous.title}}">&gt;&gt;</a>
			{% else %}
				<span class="post-nav next placeholder">&nbsp;</span>
			{% endif %}
		</time>
	</div>

	<div class="divider"></div>

	{{ content }}

</article>
